@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #CCC;
    position: relative;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
}

.vertline {
    background: #F5F5F5;
    opacity: 0.05;
    height: calc(100% - 120vh);
    z-index: -20;
    width: 1px;
    position: absolute;
    left: 20%;
    bottom: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 1.35em;
    font-weight: 600;
    color: #fff;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 1.35em;
    font-weight: 600;
    color: #fff;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 1.35em;
    font-weight: 600;
    color: #fff;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #AAAAAA; 
}

section {
    position: relative;
    overflow: hidden;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.accent-text {
    color: #000;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    font-size: 106px;
    font-weight: 500;
    text-transform: uppercase;
}

.shape {
    position: absolute;
    width: 72px;
    height: 68px;
}

.main-btn {
    font-weight: 700;
    letter-spacing: 0.18em;
    color: #fff;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 17px 22px;
    white-space: nowrap;
    width: fit-content;
}

.main-btn.left {
    margin: 0;
}

.main-btn:before {
    content: '';
    background: #2E95D2;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: -1;
    top: 0px;
    left: 0px;
    transition: 0.3s ease;
}

.main-btn:hover::before {
    width: 100%;
}



.splide {
    padding: 20px 0;
  }

  .cabinet-img {
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
    transition: transform 400ms;
    transform-origin: center center;
    opacity: 0.5;
    padding: 0 22px;
  }
  
  .splide__slide.is-active  img {
      opacity: 1;
    }
  
  .splide .splide__arrow {
    background: #454545;
    top: -45px;
    bottom: 0;
    height: 100%;
    transform: none;
    width: 45px;
    height: 45px;
    opacity: .9;
  }
  .splide .splide__arrow svg {
    filter: invert(1);
    width: 16px;
    height: 16px;
  }
  .splide__arrow--prev {
    right: 260px;
    left: auto;
  }
  .splide__arrow--next {
    right: 200px;
  }

  #splide-news .splide__arrow--prev {
    right: 60px;
  }

  #splide-news .splide__arrow--next {
    right: 0px;
  }

  #splide-reviews .splide__arrow--prev {
    right: auto;
    top: auto;
    bottom: 30px;
    left: 470px;
  }

  #splide-reviews .splide__arrow--next {
    right: auto;
    top: auto;
    bottom: 30px;
    left: 530px;
  }

.form-input {
    width: 100%;
    background: #111111;
    border-radius: 9px;
    padding: 23px 22px;
    margin-bottom: 29px;
    color: #fff;
    outline: none;
}

.table {
    width: 95%;
}

.table tr {
    height: 60px;
    border: 1px solid #363636;
}

.table td:first-child {
    background: #282B32;
    width: 40%;
    padding-left: 15px;
    border-right: 1px solid #363636;
}

.table td:last-child {
    background: #202124;
    width: 60%;
    padding-left: 20px;
}

.hidden-menu {
    background: rgba(24, 24, 24, 0.98);
    position: fixed;
    right: -100%;
    width: 50%;
    height: 100%;
    padding-top: 20vh;
    padding-left: 7%;
    z-index: 30;
    opacity: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.hidden-menu.active {
    right: 0;
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    .accent-text {
        font-size: 80px;
    }
}

@media screen and (max-width: 1025px) {
    .accent-text {
        font-size: 80px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 26px;
    }

    .table {
        width: 100%;
    }
    .table tr {
        height: 50px;
        font-size: 14px;
    }
    .hidden-menu {
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    .splide .splide__arrow {
        display: none;
    }
    .accent-text {
        font-size: 56px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    .main-btn {
        font-size: 14px;
    }
    .hidden-menu {
        width: 100%;
    }
}
